<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>新项目</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="地贸"/>

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <script src="/assets/js/json2.js"></script>
    <script src="/assets/js/jquery.min.js"></script>

    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/bootstrap-treeview.min.js"></script>
    <script src="/assets/js/bootbox.min.js"></script>
</head>
<body>
<span>启动成功</span>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>树状结构</h2>

            <div id="treeview" class=""></div>
        </div>
        <div class="col-sm-8">
            <h2>树状结构</h2>

            <div id="detailDiv" class="">
                <form class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-offset-5 col-sm-6">
                            <button id="btnAdd" type="button" class="btn btn-danger">新增节点</button>
                            <button id="btnEdit" type="button" class="btn btn-danger">修改节点</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">路径</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="labelFullPath" disabled>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">值</label>

                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="labelValue" disabled>
                        </div>
                    </div>
				##                    <div class="form-group">
				##                        <div class="col-sm-offset-2 col-sm-6">
				##                            <button id="btnSubmit" type="button" class="btn btn-default">提交</button>
				##                        </div>
				##                    </div>
                </form>
            </div>

		##            <div id="editDiv" style="display:none;">
		##
		##            </div>
        </div>
    </div>
</div>
<script>

    jQuery(function ($) {
        //btnSubmitListen();
        btnAddListen();
        btnEditListen()
    })


    jQuery.get("/config-center/data", function (data) {
        var tree = $("#treeview").treeview({
            data: data,
            onNodeSelected: function (event, node) {
                showDetail(event, node);
            },
            onNodeUnselected: function (event, node) {
                //console.log("unchecked" + node.text)
            }
            //,enableLinks: true
            , showTags: true
        });
    });

    //显示详情
    function showDetail(event, node) {
        jQuery.get("/config-center/detail", {fullPath: node.fullPath}, function (data) {
            $("#labelFullPath").val(data.fullPath);
            $("#labelValue").val(data.value);
            console.log(data);
        });
    }

    //    //监听提交按钮点击事件
    //    function btnSubmitListen() {
    //        $("#btnSubmit").click(function () {
    //            var params = {fullPath: $("#inputFullPath").val(), value: $("#inputValue").val()};
    //            jQuery.post("/config-center/update", params, function (data) {
    //                bootbox.alert("修改成功");
    //            });
    //        })
    //    }

    function btnAddListen() {
        $("#btnAdd").click(function () {
            bootbox.dialog({
                title: "新增节点",
                message: '<form class="form-horizontal">' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label">路径</label>' +

                '<div class="col-sm-6">' +
                '<input type="text" class="form-control" id="inputFullPath">' +
                '</div>' +
                '</div>' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label">值</label>' +

                '<div class="col-sm-6">' +
                '<input type="text" class="form-control" id="inputValue">' +
                ' </div>' +
                '</div>' +
                '</form>',
                buttons: {
                    success: {
                        label: "保存",
                        className: "btn-success",
                        callback: function () {
                            var params = {fullPath: $("#inputFullPath").val(), value: $("#inputValue").val()};

                            jQuery.post("/config-center/add", params, function (data) {
                                bootbox.alert("修改成功");
                            });
                        }
                    }
                }
            })
        })
    }

    function btnEditListen() {
        $("#btnEdit").click(function () {
            bootbox.dialog({
                title: "编辑节点",
                message: '<form class="form-horizontal">' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label">路径</label>' +

                '<div class="col-sm-6">' +
                '<input type="text" class="form-control" id="inputFullPath">' +
                '</div>' +
                '</div>' +
                '<div class="form-group">' +
                '<label class="col-sm-2 control-label">值</label>' +

                '<div class="col-sm-6">' +
                '<input type="text" class="form-control" id="inputValue">' +
                ' </div>' +
                '</div>' +
                '</form>',
                buttons: {
                    success: {
                        label: "修改",
                        className: "btn-success",
                        callback: function () {
                            var path111 = $("#inputFullPath").val();
                        }
                    }
                }
            })
        })
    }
</script>
</body>
</html>