<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <title>新项目</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>
    <meta name="description" content="地贸" />
</head>
<body>
<span>启动成功</span>
</body>
</html>